.clearfix { zoom:1; }
.clearfix:after { display:block; clear:both; visibility:hidden; height:0; content:''; }
.fl { float:left; }
.fr { float:right; }
.icon-collection
  background-position -113px -137px
.icon-phone
  background-position -113px -36px
.icon-setting
  background-position -147px -35px
.icon-right
  background-position -147px -103px
.icon-right
  background-position -147px -103px
.icon-eye1
  background-position -184px -138px
  width 18px
  height 13px
.icon-eye2
  background-position -184px -104px
  width 18px
  height 13px